<h3>This is the index page</h3>

<% @tasks.each do |task| %>
  <h3> <strong> <%= task.title %> </strong></h3>
  <%# <h4> <%= task.detail %>  </h4> %>
  <h5>   <%= task.completed %>   </h5>
  <br>
<% end %>