<h3>This is your task/index page</h3>

<ul>
  <% @tasks.each do |task| %>
  <li><%=link_to "#{task.title}", task_path(task.id) %></li>
  <%end%>
</ul>

<%= link_to "Add Task", new_task_path %>
<%# <%= link_to "Remove Task", new_task_path %> %>